{% load static %}

<html>
	<head>
		<title>Whale API</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

	</head>
	<body>


			<section id="three" class="wrapper align-center">
				<div class="inner">
                    <article>
                        <header>
                            <h3>Get Request Result</h3>
                        </header>
                            <p>
                                {% for result in results %}
                                    {{ result }}
                                {% endfor %}
                            </p>
                        <footer>
                            <a href="{% url 'index' %}" class="button">Go back</a>
                        </footer>
                    </article>
				</div>
			</section>



	</body>
</html>